@charset "UTF-8";


/* ----------------------头部部分-------------------- */
/* 快捷导航 */
.site_nav {
    background-color: #333;
    height: 36px;
}

.site_title {
    overflow: hidden;

    height: 36px;
    background: url(../images/muted.gif) no-repeat left center;
    padding-left: 29px;
}
.site_title ul li {
    height: 36px;
    line-height: 36px;
}

.site_title li a {
    text-decoration: underline;
    color: #b4a078;
    font-size: 12px;
}
.site_title li a:hover {
    text-decoration: none;
    color: #fff;
}
.site_nav_r {
    height: 36px;
    line-height: 36px;
}
.site_nav_r a {
    padding: 0 12px;
    border-left: 1px solid #5c5c5c;
    font-size: 12px;
    color: #ccc;
}
.site_nav_r a:hover {
    color: #fff;
}
/* .site_nav_r .nav_first {
    border-left: none;
} */

/* 功能部分（搜索和导航） */
.func_nav {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.func_content {
    position: relative;

    height: 140px;
    /* background-color: pink; */
}
.func_content h1 {
    position: absolute;
    top: 24px;
    left: 0;
    height: 60px;
}
.func_content h1 a {
    display: inline-block;
    vertical-align: top;
    width: 124px;
    height: 60px;
    font-size: 0;
    background-color: skyblue;
    background: url(../images/yanxuan-component.png) no-repeat 0 -203px;
}

/* 搜索框 */
.search {
    position: absolute;
    top: 26px;
    right: 183px;
    display: inline-block;
    /* background-color: skyblue; */
}
.search input {
    vertical-align: top;
    width: 402px;
    height: 36px;
    padding-left: 38px;
    border: 1px solid #b4a078;
    border-radius: 18px 0 0 18px;
}
.search button {
    width: 90px;
    height: 38px;
    background-color: #b4a078;
    /* border: none; */
    border-radius: 0 18px 18px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.search i {
    position: absolute;
    left: 18px;
    top: 11px;
    display: inline-block;
    width: 16px;
    height: 17px;
    /* background-color: red; */
    background: url(../images/yanxuan-component.png) no-repeat 0 -311px;
}

.tips {
    position: absolute;
    bottom: -18px;
    left: 20px;
    width: 444px;
    height: 18px;
    /* background-color: blue; */
}
.tips li a {
    font-size: 12px;
    color: #999;
    padding: 0 5px;
    border-left: 1px solid #ccc;
}
.tips li a:hover {
    color: #b4a078;
}
.tips li .hot_item {
    color: #b4a078;
}

/* 购物车 */
.car {
    position: absolute;
    top: 27px;
    right: 0;
    width: 132px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #b4a078;
    border-radius: 18px;
}
.car:hover {
    background-color: #F5F3EF;
}

.car i {
    font-family: "icomoon";
    font-size: 14px;
    color: #b4a078;
}
.car span {
    display: inline-block;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

/* 导航 */
.nav {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    /* background-color: skyblue; */
}
.nav ul li {
    float: left;
    padding: 0 25px;
}
.nav li a {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 9px;
    
}
.nav li a:hover {
    border-bottom: 2px solid #b4a078;
}
.nav .nav_item {
    padding-left: 0;
}
.nav .nav_item a{
    color: #b4a078;
    border-bottom: 2px solid #b4a078;
}
.nav .nav_bdl {
    width: 1px;
    height: 21px;
    padding: 0;
    border-left: 1px solid #b4a078;
}
